.sliderContainer {
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: #00000047;
}
.showing {
    display: block !important;
}
.close-slider {
    color: var(--sub-color);
    align-self: flex-end;
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
}

.membersBar::-webkit-scrollbar {
    height: 3px;
}

.memberImage {
    width: 220px;
    border: var(--main-color) 12px double;
}
@media (min-width: 767px) {
    .detailsSection > div {
        flex-basis: 100%;
    }
    .memberImage {
        width: 300px;
    }
}

.memberIcon {
    position: relative;
    background-color: var(--bg-color1);
    border: solid 2px var(--sub-color);
}
.memberIcon > span,
.memberIcon > img {
    cursor: pointer;
}
.memberIcon > img {
    border: var(--sub-color) 3px solid;
}
.memberIcon.active > img {
    border: var(--main-color) 3px solid;
}

@media (min-width: 992px) {
    .memberIcon::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition: .3s;
        border-radius: 8px;
        left: 0;
        top: 0px;
        z-index: 0;
    }
    .memberIcon.active::after {
        background-color: #ffae003e;
    }
}

